img {
    border-radius: 50px;
    width: 80px;
    padding-left: 20px;
  }
  .container {
    padding-top: 10px;
  }
  .userProfile {
    width: 80%;
    margin: 0 auto;
    border: 1px solid rgba(128, 128, 128, 0.3);
    display: flex;
    align-items: center;
    padding-bottom: 10px;
  }
  .userInfo {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  p {
    font-weight: 600;
  }